$text-color: #fff
$main-bg-color: #000
$items-bg-color: #232525
$font-size-xs: 14px
$font-size-s: 16px
$font-size-m: 36px
$font-size-l: 48px

*
  box-sizing: border-box

body
  color: $text-color
  font-family: Inter, Arial, Helvetica, sans-serif
  font-style: normal
  font-size: $font-size-s
  font-weight: 400px

.App
  background-color: $main-bg-color
  width: 100%
  height: 100vh

.header
  height: 50px
  padding-left: 27px
  padding-top: 10px
  background-color: $items-bg-color
  &__logo
    width: 75px
    &:hover
        cursor: pointer
        transform: scale(1.5, 1.5)

.content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: $main-bg-color
  min-height: calc(100% - 100px)
  &__title
    font-size: $font-size-l
    line-height: 58px
    text-align: center

.todo
  background-color: $items-bg-color
  width: 70%
  max-width: 1000px
  min-height: 65%
  border-radius: 15px
  display: grid
  grid-template-columns: minmax(100px, 300px) 1fr
  margin-bottom: 70px
  &__list
    display: flex
    flex-direction: column
    border-right: 1px solid #fff
    list-style-type: none
    &-header
      display: flex
      flex-direction: row
      justify-content: space-between
      padding: 15px 30px
      align-items: center
      border-bottom: 1px solid #fff
    &-title
      font-size: $font-size-m
      margin: 0
      font-weight: normal
    &-add-btn
      background-color: transparent
      background-image: url(./images/plus_icon.svg)
      border: none
      width: 25px
      height: 25px
      background-position: center
      background-size: 80%
      &:hover
        cursor: pointer
        transform: scale(1.5, 1.5)
        border: 1px solid #fff
    &-items
      list-style-type: none
      padding: 0
      margin: 0
  &__editor
    display: flex
    flex-direction: column
    &-title
      font-size: $font-size-m
      margin: 0
      font-weight: normal

.editor
  display: flex
  flex-direction: column
  padding-top: 15px
  position: sticky
  top: 0
  &__info-wrapper
    display: flex
    flex-direction: row
    margin-bottom: 30px
  &__title
    font-size: $font-size-s
    margin: 0
    font-weight: normal
    padding: 4px 0
    margin-right: 10px
    word-wrap: break-word
    overflow: hidden
    max-width: 80%
    display: flex
  &__btn-edit
    background-color: transparent
    background-image: url(./images/pencil-icon.svg)
    background-repeat: no-repeat
    min-width: 25px
    height: 25px
    background-position: center
    border: 1px solid #fff
    margin-left: 23px
    margin-right: 11px
    &:hover
        cursor: pointer
        opacity: 0.6
  &__btn-save
    background-color: transparent
    background-image: url(./images/save-icon-white.png)
    background-repeat: no-repeat
    width: 25px
    height: 25px
    background-position: center
    border: 1px solid #fff
    margin-left: 23px
    margin-right: 11px
    background-size: 75%
    background-position: 4px 3px
    &:hover
        cursor: pointer
        opacity: 0.6
  &__text
    font-family: inherit
    font-size: inherit
    line-height: inherit
    margin: 0
    border: none
    outline: none
    margin-left: 5px
    &_type_description
      max-width: 450px
      margin-left: 5px
      resize: none
      width: 450px
      @media screen and (max-width: 1150px)
        width: 250px
  &__lable-title
    align-self: start
  &__fieldset
    border: none
    display: flex
    flex-direction: column
  &__label
    margin-bottom: 10px
  &__radio
    margin-right: 5px

.task
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 10px
  align-items: center
  &__wrapper
    display: flex
    flex-direction: row
    align-items: center
    max-width: calc( 100% - 50px )
  &__status
    min-width: 15px
    height: 15px
    border-radius: 25%
    margin-right: 10px
    align-self: center
    &_green
      background-color: #1EA03B
    &_gray
      background-color: #727573
    &_blue
      background-color: #1C64A7
  &__text
    margin: 0
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    &:hover
      cursor: pointer
      opacity: 0.6
  &__bin
    width: 25px
    height: 25px
    background-image: url(./images/bin-icon-white.png)
    background-size: contain
    background-color: transparent
    background-repeat: no-repeat
    border: none
    &:hover
      background-image: url(./images/bin-icon-red.png)
      cursor: pointer
      transform: scale(1.5, 1.5)


      



.footer
  height: 50px
  padding-left: 27px
  padding-top: 14px
  color: $text-color
  background-color: $items-bg-color
  font-size: $font-size-xs
